DB_USER=examen_user_example
DB_PASSWORD=changeme_example_password
DB_NAME=examen_db_example
DB_HOST=localhost
DB_PORT=5432
PORT=3000
CAPTCHA_SECRET=tu_turnstile_secret_example
TELEGRAM_BOT_TOKEN=tu_telegram_bot_token_example
TELEGRAM_CHAT_ID=tu_telegram_chat_id_example
